{% extends "../base.html" %}

{% block title %}

Fintual's Chat Market

{% endblock %}

{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
	
	<div class="px-6 py-2 my-2 text-center">
		<h1 class="display-5 fw-bold">Bulletin board</h1>
		<h3 class="display-7 fw-bold">List of all available swaps</h3>
	</div>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Date</th>
	      <th scope="col">Starting Time</th>
	      <th scope="col">Ending Time</th>
          <th scope="col">User</th>
		  <th scope="col">Message</th>
		  <th scope="col">Trade</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for request in object_list %}
        {% if request.active %}
		<tr>
	      <td>{{request.date}}</td>
	      <td>{{request.start_time}}</td>
		  <td>{{request.end_time}}</td>
          <td>{{request.User.username}}</td>
		  <td>{{request.message}}</td>
		  <td>
			<a button type="button" class="btn btn-outline-secondary btn-sm" href="{% url 'chat_commerce:make_offer' request.id %}">Make an offer</a>
		  </td>
	    </tr>
		
        {% endif %}
	   {% endfor %}
	   
	  </tbody>
	</table>
	<a button type="button" class="btn btn-outline-primary btn-sm" href="{% url 'chat_commerce:make_request' %}">Add your request</a>
	
{% endblock %}