{% extends "../base.html" %}

{% block title %}

List of products

{% endblock %}

{% block content %}
	
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Date</th>
	      <th scope="col">Time</th>
          <th scope="col">User</th>
		  <th scope="col">Message</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for request in object_list %}
        {% if request.active %}
		<tr>
	      <td>{{request.date}}</td>
	      <td>{{request.time}}</td>
          <td>{{request.User.username}}</td>
		  <td>{{request.message}}</td>
	    </tr>
        {% endif %}
	   {% endfor %}
	  </tbody>
	</table>
	
{% endblock %}